body {
    background-color: #f4fdf5;
    color: #050505;
}

fieldset {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #999;
}

.fv-input-label {
    display: block;
    font-weight: bold;
}

.fv-input-note {
    font-size: smaller;
    color: #bdbdbd;
}
